<!-- Rose Pine Navbar -->
<nav class="rose-pine-navbar navbar navbar-expand-lg fixed-top">
  <div class="container">
    <!-- Brand Logo -->
    <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }}">
      <i class="fas fa-gamepad me-2 brand-icon"></i>
      <span class="brand-text">Erzam Bayu</span>
    </a>

    <!-- Language & Theme Controls -->
    <div class="navbar-controls d-none d-lg-flex align-items-center">
      <!-- Download CV Button -->
      <a href="{{ '/Erzam_Bayu_CV_ATS_english.pdf' | relative_url }}" 
         target="_blank" 
         class="btn-download-cv me-3" 
         aria-label="Download CV">
        <i class="fas fa-download"></i>
        <span data-translate="buttons.download_cv">Download CV</span>
      </a>
      
      <!-- Language Toggle - Will be inserted by JavaScript -->
      
      <!-- Dark Mode Toggle -->
      <div class="navbar-theme-toggle">
        <button class="theme-toggle-btn" id="theme-toggle" aria-label="Toggle dark mode">
          <i class="fas fa-moon theme-icon" id="theme-icon"></i>
        </button>
      </div>
    </div>

    <!-- Mobile Menu Toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | relative_url }}">
            <i class="fas fa-home nav-icon"></i>
            <span class="nav-text" data-translate="nav.home">Home</span>
          </a>
        </li>

        <!-- About -->
        <li class="nav-item">
          <a class="nav-link" href="{{ '/about/' | relative_url }}">
            <i class="fas fa-user nav-icon"></i>
            <span class="nav-text" data-translate="nav.about">About</span>
          </a>
        </li>

        <!-- Projects -->
        <li class="nav-item">
          <a class="nav-link" href="{{ '/projects/' | relative_url }}">
            <i class="fas fa-project-diagram nav-icon"></i>
            <span class="nav-text" data-translate="nav.projects">Projects</span>
          </a>
        </li>

        <!-- Blog -->
        <li class="nav-item">
          <a class="nav-link" href="{{ '/blog/' | relative_url }}">
            <i class="fas fa-blog nav-icon"></i>
            <span class="nav-text" data-translate="nav.blog">Blog</span>
          </a>
        </li>

        <!-- Connect -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="connectDropdown" role="button" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-share-alt nav-icon"></i>
            <span class="nav-text" data-translate="nav.connect">Connect</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right rose-pine-dropdown">
            {% if site.author.email %}
            <a class="dropdown-item" href="mailto:{{ site.author.email }}">
              <i class="fas fa-envelope"></i> Email
            </a>
            {% endif %}
            {% if site.author.github %}
            <a class="dropdown-item" href="https://github.com/{{ site.author.github }}" target="_blank">
              <i class="fab fa-github"></i> GitHub
            </a>
            {% endif %}
            {% if site.author.linkedin %}
            <a class="dropdown-item" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            {% endif %}
            {% if site.author.instagram %}
            <a class="dropdown-item" href="https://www.instagram.com/{{ site.author.instagram }}" target="_blank">
              <i class="fab fa-instagram"></i> Instagram
            </a>
            {% endif %}
            {% if site.author.twitter %}
            <a class="dropdown-item" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
              <i class="fab fa-twitter"></i> Twitter
            </a>
            {% endif %}
            {% if site.author.youtube %}
            <a class="dropdown-item" href="https://www.youtube.com/{{ site.author.youtube }}" target="_blank">
              <i class="fab fa-youtube"></i> YouTube
            </a>
            {% endif %}
          </div>
        </li>

        <!-- Mobile-only Controls -->
        <li class="nav-item d-lg-none">
          <a class="nav-link" href="{{ '/Erzam_Bayu_CV_ATS_english.pdf' | relative_url }}" target="_blank">
            <i class="fas fa-download nav-icon"></i>
            <span class="nav-text" data-translate="buttons.download_cv">Download CV</span>
          </a>
        </li>
        
        <li class="nav-item d-lg-none">
          <button class="nav-link theme-toggle-mobile" id="theme-toggle-mobile" style="border: none; background: none;">
            <i class="fas fa-moon theme-icon-mobile nav-icon"></i>
            <span class="nav-text">Theme</span>
          </button>
        </li>

        <!-- Mobile Language Toggle - Will be inserted by JavaScript -->

      </ul>
    </div>
  </div>
</nav>

<!-- Navbar spacing -->
<div class="navbar-spacer"></div>